* {
  padding: 0;
  margin: 0;
  border-style: solid black;
}

p {
  text-align: center;
  font-family: 'Brygada 1918', serif;
  font-size: 20px; 
  margin: 2px;
}
.profile {
  max-width: 100%;
}
nav ul li {
  color: white;
  display:inline;
  float: right;
  margin-right: 20px;
}
.head {
  background-color: black;
  color: white;
margin: 0;


}
.img-fluid {
  width: auto;
  height: 500px;
  margin-top: 15%;
  border-radius: 50%;
 
}
a {
  text-decoration: none;
  font-size: 30px;
  color: white;
}
h2 {
  background-color: rgb(139, 224, 217);
  text-align: center;
 margin-top: 5px;
  border-radius: 10px;
  color: black; 
}
#label {
  margin-top: 10px;
}
.popover-dismiss {
  width: 80%;
  
}